
        #particles-js {
            position: fixed;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            z-index: -1; /* Ajusta el índice z para que esté detrás del contenido */
            
        }

        body {
            background-color: rgba(0, 0, 0, 1);
            
            color: #fff;
            font-family: 'Arial', sans-serif;
            margin: 0;
            padding: 0;
            display: flex;
            flex-direction: column;
            align-items: center;
        }



        /* Resto de tu código CSS... */


            #faq {
            padding: 50px;
            background-color: #000;
            color: rgba(255, 255, 255, 1);
        }

            #faq h2 {
                color: #00ffcc;
            }

            #faq ul {
                list-style-type: none;
                padding: 0;
            }

            #faq li {
                margin-bottom: 20px;
            }




        .social-icons {
            display: flex;

            gap: 10px; /* Ajusta el espacio entre los íconos */
            margin-top: 15px; /* Ajusta el margen superior según tus necesidades */
        }

            .social-icons img {
                width: 40px; /* Ajusta el tamaño de los íconos según tus necesidades */
                height: 40px;
            }



        header {
            background-color: rgba(0,0,0,0);
            padding: 20px;
            text-align: center;
            width: 100%;
            box-sizing: border-box;
        }

            header h1 {
                color: #01ffff;
                font-size: 3em;
                margin: 15px 0;
            }

            header img {
                max-width: 10%;
                height: auto;
                margin-top: 10px;
                margin-bottom: 10px;
                border-radius: 1px;
            }

        nav ul {
            list-style-type: none;
            margin-top: 20px;
            padding: 0;
            display: flex;
            justify-content: center;
            background-color: rgba(0,254,204,0.2);
            border-radius: 10px;
            box-shadow: 0 0 10px rgba(0, 254, 106, 0.5);
            
        }

        nav li {
            margin: 0 10px;
            
        }

        nav a {
            color: #fff;
            text-decoration: none;
            font-weight: bold;
            font-size: 0.9em;
            transition: color 0.2s;
        }

         

            nav a:hover {
                color: #0000FF;
            }

        section {
            padding: 30px;
            width: 60%;
            box-sizing: border-box;
            display: flex;
            flex-direction: column;
            align-items: center;
            
        
        }

        article {
            border-bottom: 1px solid #444;
            padding-bottom: 20px;
            margin-bottom: 20px;
            width: 80%;
            max-width: 800px;
            text-align: left;
            
            
        }

            article h2 {
                color: #fff;
            }

            article p {
                color: #fff;
                line-height: 1.5;
            }

        .cta-button {
            display: inline-block;
            padding: 10px 20px;
            background-color: rgba(128,55,255,0.5);
            color: #fff;
            text-decoration: none;
            border-radius: 10px;
            transition: background-color 0.2s;
            margin-top: 20px;
            box-shadow: 0 0 10px rgba(128, 205, 255, 0.5);
        }

            .cta-button:hover {
                background-color: rgb(101 101 230 / 0.2);
            }

        footer {
            background-color: rgba(0, 0, 0, 1);
            box-shadow: 0 0 10px rgba(0, 254, 204, 0.8);
            padding: 20px;
            text-align: center;
            width: 100%;
            box-sizing: border-box;
            margin-top: auto;
        }

            footer p {
                color: #fff;
                margin: 0;
                font-size: 0.8em;
            }

        .hidden {
            display: none;
        }

        #extended-description {
            color: #fff;
            line-height: 1.5;
            margin-top: 15px;
        }

        .important {
            color: #00d0ff;
        }

        article img {
            max-width: 100%;
            height: auto;
            display: block;
            margin: 0 auto;
            box-shadow: 0 0 10px rgb(7 156 242);
            
        }
        
        article iframe{
            max-width: 100%;
            height: 100%;
            display: block; 
            margin: 0 auto;
            box-shadow: 0 0 10px rgb(7 156 242);
            
         
        }

        @media (min-width: 720px) {
   
        article iframe {

            width: 800px;
            height: 500px;
            }

          }



             .player .imgbox{

max-width: 100%;
            height: 100%;
            display: block; 
            margin: 0 auto;
            box-shadow: 0 0 20px rgb(7 156 242);


}



@media (min-width: 720px) {
   
        audio {

            width: 720px;
            height: 30px;
            }

          }

        .player audio{


width: 100%;
height: 30px;
background-color: #fff;
box-shadow: 0 0 30px rgb(7 156 242);
        }
h1 {
         margin-top: 20px;
            box-shadow: 0 0 20px rgb(11 99 82 / 0.83);
            background-color: rgb(0 255 251 / 0.1);
            text-align: center;
            margin-bottom: 20px;
        
}


        h2 {
            margin-top: 20px;
            box-shadow: 0 0 20px rgb(11 99 82 / 0.83);
            background-color: rgb(0 255 251 / 0.1);
            text-align: center;
            margin-bottom: 20px;
        }


        h3 {
            box-shadow: 0 0 5px rgb(7 156 242 / 0.38);
            color: #fff;
            line-height: 1.5;
            text-align: center;
            margin-top: 30px;
            margin-bottom: 30px;
        }

        p {
            text-align: center;
            margin-top: 20px;
            margin-bottom: 20px;
           
        }

